@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,600;1,400&display=swap");

/* Colors
________________________*/
:root {
  --cal-black: #3a3335;
  --cal-gray: #9f9fad;
  --cal-white: ghostwhite;
  --cal-orange: #f0a202;
  --cal-green: #64b6ac;
  --cal-red: #bb4430;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-size: 1.6rem;
  font-family: "Chakra Petch", sans-serif;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);

  width: 500px;
  height: 500px;
  margin: 4rem auto 0;
  padding: 2rem;
  border: 3px solid azure;
  background: var(--cal-black);
}

.key {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--cal-gray);
  border: 1px solid #fff;
  transition: 0.1s all;
  cursor: pointer;
  font-size: 3rem;
  color: var(--cal-white);
}

.operator {
  background: var(--cal-orange);
}

.key:hover {
  background-color: var(--cal-green);
}

.display {
  display: grid;
  align-items: center;
  padding-right: 1rem;
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  background-color: ghostwhite;
  font-size: 5rem;
  text-align: right;
  overflow: hidden;
  border-bottom: 1rem solid var(--cal-black);
}

.add {
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;
}

.subtract {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
}

.multiply {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}

.divide {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

.clear {
  grid-area: 2 / 1 / 2 / 2;
  background: var(--cal-red);
}

.zero {
  grid-area: 5 / 1 / 5 / 3;
}

.one {
  grid-area: 5 / 3 / 5 / 4;
}

.equals {
  grid-area: 6 / 3 / 6 / 5;
}

.decimal {
  grid-area: 6 / 2 / 6 / 3;
}

.backspace {
  grid-area: 6 / 1 / 6 / 2;
}

.is-selected {
  background-color: var(--cal-green);
}

.decimal-pressed {
  background-color: rgba(var(--cal-gray), 0.2);
  pointer-events: none;
  opacity: 0.5;
}
