html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-size: 1.6rem;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);

  width: 500px;
  height: 500px;
  margin: 4rem auto 0;
  border: 3px solid azure;
}

.key {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: lavender;
  border: 1px solid #fff;
  transition: .1s all;;
}

.key:hover {
  background-color: mediumslateblue;
}

.display {
  display: grid;
  align-items: center;
  padding-right: 1rem;
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  background-color: ghostwhite;
  font-size: 5rem;
  text-align: right;
  overflow: hidden;
}

.add {
  grid-column: 4 / span 1;
  grid-row: 5 / span 1
}

.subtract {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1
}

.multiply {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1
}

.divide {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1
}

.clear {
  grid-area: 2 / 1 / 2 / 2;
}

.zero {
  grid-area: 6 / 1 / 6 / 3;
}

.equals {
  grid-area: 6 / 3 / 6 / 5;
}

.decimal {
  grid-area: 5 / 2 / 5 / 4;
}